@use "../../../scss/general/variables";
@use "../../../scss/general/mixins";

.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__nav, .footer__nav {
    display: flex;
    justify-content: space-between;
    gap: 3em;
    align-items: center;
  }
}
.footer {
  .header__logo {
    filter: grayscale(1);
  }
  @include mixins.mobile {
    .menu { display: none;}
    justify-content: center;
  }
}
.footer__divider {
  border-top: 3px solid variables.$footerDivider;
  background-clip:text;
  margin-top: 3em;
  margin-bottom: 3em;
}
.footer__copyright {
  @include mixins.mobile { text-align: center; }
  p {
    color: variables.$adjacentColor;
  }
  .gradient {
    @extend %linear-gradient;
  }
}