@use 'scss-reset';
@use "../general/variables";
@use "../general/mixins";
@use "./grid";
@use "../general/typography";
@use "../general/common";
body{
  background-color: variables.$primaryColor;
  font-family: variables.$primaryFont;
  margin-top: 4em;
  margin-bottom: 4em;
}
