@use "./variables";

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 601px) and (max-width: 900px) {
    @content
  }
}

%linear-gradient {
  background: linear-gradient(90deg, #13B0F5 0%, #E70FAA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}